p{
	font-size: 25px;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
	color: darkblue;
	background: lightblue;
}
h3 {
	text-align: center;
}
ul {
	font-size: 25px;
}
ol {
	font-size: 25px;
}

