p{
	font-size: 25px;
}
h1 {
	text-align: center;
	background: lightpink;
}
h2 {
	text-align: center;
	background: cornflowerblue;
}
h3 {
	text-align: center;
}
ul {
	font-size: 25px;
}
ol {
	font-size: 25px;
}

