.waterworld {
	width: 500px;
	height: 500px;
	background: #81CCC7;
}
.clouds {
	width: 350px;
	position: absolute;
	top: 25px; left: 100px;
}
.water {
	width: 500px;
	position: absolute;
	bottom: 214px ;
	z-index: 2;
}
.ship {
	width: 120px;
	position: absolute;
	bottom: 250px; left: 25px;
	z-index: 1;
}
.world {
	width: 500px;
	position: absolute;
	top: 190px;
}