td {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 40px;
}
table {
	border: 1px solid black;
}
tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
    background: #c0c0c0;
}
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even){
    background: white;
}