div {
  width: 300px;
  height: 300px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
}
img {
	 display: block;
     width: 100%;
}
p{
	font-size: 25px;
}
.me {
	margin: 20px;
	font-size: 30px;
}
h1 {
	text-align: center;
	background: lightpink;
}
h2 {
	text-align: center;
	background: cornflowerblue;
}
h3 {
	text-align: center;
}
ul {
	font-size: 25px;
}
ol {
	font-size: 25px;
}
.btn {
	display: inline;
	width: 300px;
	height: 80px;
	border: 1px solid;
	border-radius: 10px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	color: black;
	font-size: 20px;
	margin: 5px 5px 10px;
	padding: 5px 10px 5px 10px;
}
.menu {
	list-style: none;
}
.menu li {
	display: block;
	margin-right: 10px;
}